body{
  margin:0;
}

a:link, a:visited {
   font-size: 20px;
   color: rgb(44, 20, 133);
   text-align: center;
   text-decoration: none;
   display: inline-block;
 }
 
 a:hover, a:active {
    color: #fff;
    border-radius: 5px;
    background: black;
}

 ul{
   text-align: center;
 }

 li{
   display: inline-block;
   width: 100px;
 }

 .header{
   color:rgb(136, 102, 38);
}


.form{
   display: flex;
   justify-content: center;
   height: 100%; 
}


fieldset{
   border-color: rgb(180, 226, 233);
   box-sizing: border-box;
   margin: 0;
   height:100%;
   text-align: left;
}

.first{
   border-right: 0;
   border-top-left-radius: 20px;
   border-bottom-left-radius:20px;   
}

.second{
   border-left: 0;
   border-top-right-radius: 20px;
   border-bottom-right-radius:20px ;
}

legend {
   background-color: #efefef;
   border: 2px solid white;
   border-radius: 30px;
   padding: 10px 20px;
   text-transform: uppercase;
   font-weight: bold;
   text-align:center;
}

footer{
   margin: 10px 0 10px 0;
   text-align: center;
   font-size: 20px;
 }